* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* font-size: calc(40% + 2vw); */
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  background: #f2f2f2;
}

body.dark #app {
  background: #111112;
  color: white;
}

#app {
  font-size: 70%;

  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 1em;
  aspect-ratio: 1080/1350;
  
  width: calc(135em/3);
  margin: auto;
  padding: 2em 3em;
  
  background: white;
  overflow: auto;
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 1.4em;
}

.avatar {
  display: flex;
  gap: .8em;
}

.avatar img {
  border-radius: 50%;
  width: 5.2em;
  height: 5.2em;
}

.user h1 {
  display: flex;
  align-items: center;
  gap: .4em;
  font-size: 1.3em;
  width: 15em;
}

.user svg {
  margin-top: .2em;
  width: 1.4em;
  fill: rgb(29, 155, 240);
}

.user .at {
  opacity: .6;
  font-size: 1.1em;
  display: block;
}

.dots svg {
  width: 1.4em;
  opacity: .6;
  padding-top: 1.4em;
}

.dark .dots svg {
  fill: white;
}

.avatar .user {
  padding-top: .8em;
}

main {
  letter-spacing: 0.02em;
  font-size: 2.4em;
}

main img {
  border-radius: 2.4em;
  width: 100%;
  object-fit: contain;
  aspect-ratio: 16/9;
  background-color: black;
}

nav {
  width: calc(73em/3);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding: 2em 0;
  box-sizing: border-box;
  margin: auto;
  font-size: 130%;
}

button {
  font-size: 1em;
  padding: .5em;
  width: 100%;

  grid-column: 1/3;
}

.input-wrapper {
  font-size: 80%;
  display: flex;
  gap: .8em;
  align-items: center;
}

/* checkbox */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  
  width: 2.4em;
  height: 2.4em;
  background: #18181B;
  border: .2em solid #27272A;
  border-radius: .2em;
}

input[type="checkbox"]:checked {
  background: #8B5CF6;
  border: .2em solid #A78BFA;

  position: relative;
}

input[type="checkbox"]:checked::after {
  content: "✔";
  color: white;
  font-size: 1.2em;
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

/*modal*/
#modal {
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

#modal img {
  width: 100%;
  object-fit: contain;
}